<?xml version="1.0"?>
<config>
    <modules>
        <Philwinkle_PirateLang>
             <version>0.1.0</version>
        </Philwinkle_PirateLang>
    </modules>
    <admin>
    </admin>
    <global>
        <models>
            <piratelang>
                <class>Philwinkle_PirateLang_Model</class>
            </piratelang>
            <core>
                <rewrite>
                    <locale_config>piratelang/locale_config</locale_config>
                    <locale>piratelang/locale</locale>
                </rewrite>
            </core>
        </models>
        <blocks>
        </blocks>
        <helpers>
        </helpers>
        <resources>
        </resources>
    </global>
    <adminhtml>
    </adminhtml>
    <frontend>
        <events></events>
        <routers></routers>
        <translate></translate>
        <layout></layout>
    </frontend>
    <default>
        <piratelang>
        </piratelang>
    </default>
</config>